---
interface Props {
  href: string;
  label: string;
  active: boolean;
}

const { label, href, active } = Astro.props;
---

<a href={href}>
  <li class:list={["navigation-drawer-item", { active: active }]}>
    <slot name="icon" />
    <span class="label md-typescale-title-medium">
      {label}
    </span>
    <md-ripple></md-ripple>
  </li>
</a>

<style>
  .navigation-drawer-item {
    @apply relative flex rounded-full md:rounded-l-none h-[56px] items-center pl-[24px] pr-[16px] select-none;

    & > .label {
      @apply pl-2;
    }

    &.active {
      @apply primary-container on-primary-container;
    }
  }
</style>
