---
import Header from "../../core/header/components/Header.astro";
import Footer from "../../core/footer/components/Footer.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import OpenNavigationButton from "../../core/navigation-draw/components/OpenNavigationButton.astro";
import Navigation from "../../core/navigation-draw/components/Navigation.astro";
import PostList from "../../core/post/components/PostList.astro";
---

<PageLayout>
    <Header slot="header">
        <OpenNavigationButton slot="start" />
    </Header>

    <Navigation slot="navigation-drawer" activeLabel="Posts" />

    <div slot="content">
        <div class="p-4 md:p-8">
            <PostList />
        </div>
    </div>

    <Footer slot="footer" />
</PageLayout>
