---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import OpenNavigationButton from "../../components/navigation-draw/OpenNavigationButton.astro";
import Navigation from "../../components/navigation-draw/Navigation.astro";
import BlogList from "../../components/blog/BlogList.astro";
---

<PageLayout>
    <Header slot="header">
        <OpenNavigationButton slot="start" />
    </Header>

    <Navigation slot="navigation-drawer" activeLabel="Blogs" />

    <div slot="content">
        <div class="p-4 md:p-8">
            <BlogList />
        </div>
    </div>

    <Footer slot="footer" />
</PageLayout>
