---
/**
 * This page will show all mdx files.
 */

import Header from "../core/header/components/Header.astro";
import Footer from "../core/footer/components/Footer.astro";
import PageLayout from "../layouts/PageLayout.astro";
import OpenNavigationDrawerButton from "../core/navigation-drawer/components/OpenNavigationDrawerButton.astro";
import NavigationDrawer from "../core/navigation-drawer/components/NavigationDrawer.astro";
import CollectionList from "../core/collection-list/CollectionList.astro";
import { getCollection } from "astro:content";

const blogCollection = await getCollection("blogs");
---

<PageLayout>
  <Header slot="header">
    <OpenNavigationDrawerButton slot="start" />
  </Header>

  <NavigationDrawer slot="navigation-drawer" activeLabel="Posts" />

  <div slot="content">
    <div class="collection-list">
      <h1 class="md-typescale-headline-medium collection-series-name">Blogs</h1>
      <CollectionList collection={blogCollection} />
    </div>
  </div>

  <Footer slot="footer" />

  <style>
    .collection-list {
      @apply p-4 md:p-8;

      & > h1.collection-series-name:first-child {
        @apply mt-0;
      }
      & > h1.collection-series-name {
        @apply mt-8 mb-2 on-surface;
      }
    }
  </style>
</PageLayout>
