---
import { ViewTransitions } from "astro:transitions";
import Footer from "../core/footer/footer.astro";
import BaseHead from "../core/head/base-head.astro";
import HeaderDrop from "../core/header/header-drop.astro";
import Header from "../core/header/header.astro";
import BottomAppBar from "../core/navigation/bottom-app-bar.astro";
import NavigationRail from "../core/navigation/navigation-rail.astro";
import HctPicker from "../core/theme-provider/HctPicker.vue";
import SwitchThemeIconButton from "../core/theme-provider/switch-theme-icon-button.astro";
import ThemeProvider from "../core/theme-provider/theme-provider.astro";
import ProductHtml from "../layouts/product-html.layout.astro";
import ProductPage from "../layouts/product-page.layout.astro";
---

<ProductHtml>
    <BaseHead slot="head" />
    <ViewTransitions slot="head" />
    <ThemeProvider>
        <ProductPage>
            <BottomAppBar slot="bottom-app-bar" />
            <NavigationRail slot="navigation-rail" />
            <div class="sticky-header">
                <Header>
                    <SwitchThemeIconButton slot="actions" />
                    <HctPicker client:only="vue" slot="actions" />
                </Header>
                <HeaderDrop />
            </div>

            <div class="page-content">
                <div class="hero">
                    <h1 class="hero-title text-display-large">
                        Bre97-web's blog
                    </h1>
                    <div class="hero-background">
                        <img
                            class="hero-img"
                            aria-hidden="true"
                            loading="eager"
                            fetchpriority="high"
                            src="https://www.gstatic.com/images/icons/material/apps/fonts/1x/catalog/v5/heroes/noto-bg-light.jpg"
                            srcset="https://www.gstatic.com/images/icons/material/apps/fonts/1x/catalog/v5/heroes/noto-bg-light.jpg=w1860 1x, https://www.gstatic.com/images/icons/material/apps/fonts/1x/catalog/v5/heroes/noto-bg-light.jpg=w3720 2x"
                        />
                    </div>
                </div>

                <Footer />
            </div>
        </ProductPage>
    </ThemeProvider>
</ProductHtml>

<style>
    .sticky-header {
        position: sticky;
        top: 0;
        background-color: var(--md-sys-color-surface);
        z-index: 1;
        @media (min-width: 840px) {
            --header-padding-left: 60px;
            --header-padding-right: 60px;
        }
        @media (min-width: 1600px) {
            --header-width: 1600px;
        }
    }
    .page-content {
        max-width: 1600px;
        padding: 24px;
        @media (min-width: 840px) {
            padding-left: 60px;
            padding-right: 60px;
        }
        @media (min-width: 1600px) {
            margin: auto;
        }
    }
    .hero {
        height: 240px;
        background-color: var(--md-sys-color-primary-container);
        padding: 28px;
        border-radius: 28px;
        position: relative;
        overflow: hidden;
        z-index: 0;

        & > .hero-title {
            color: var(--md-sys-color-on-surface);
            z-index: 1;
        }
        & > .hero-background {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: -1;
            box-align: center;
            height: 100%;
            width: 100%;

            & > .hero-img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
</style>
