---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroBackground from "../components/hero-background/HeroBackground.vue";
import OpenNavigationButton from "../components/navigation-draw/OpenNavigationButton.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Navigation from "../components/navigation-draw/Navigation.astro";
---

<PageLayout>
    <Header slot="header">
        <OpenNavigationButton slot="start" />
    </Header>

    <Navigation slot="navigation-drawer" activeLabel="Home" />

    <div slot="content">
        <div
            class="relative w-full h-[calc(100vh-56px)] flex flex-col items-center justify-start gap-32"
        >
            <section
                id="page-section"
                class="relative text-center overflow-clip mt-32 space-y-8"
            >
                <p
                    id="page-section-subtitle"
                    class="md-typescale-display-small on-surface"
                >
                    You're looking at
                </p>
                <h1
                    id="page-section-title"
                    class="md-typescale-display-large py-4 px-8 z-[1] w-full font-black relative inverse-on-surface"
                >
                    Bre97's Blogs
                    <div class="bg surface-tint"></div>
                </h1>
            </section>

            <div class="space-y-8">
                <ul class="recommanded-cards">
                    <li>
                        <md-ripple></md-ripple>
                    </li>
                    <li>
                        <md-ripple></md-ripple>
                    </li>
                    <li>
                        <md-ripple></md-ripple>
                    </li>
                </ul>

                <div class="flex justify-end">
                    <md-filled-button>
                        Explorer
                        <md-icon slot="icon">link</md-icon>
                    </md-filled-button>
                </div>
            </div>

            <HeroBackground client:load />
        </div>
    </div>

    <Footer slot="footer" />
</PageLayout>

<style>
    #page-section > *,
    #page-section > #page-section-title > .bg {
        @apply transition-all motion-easing-emphasized-decelerate;
    }

    #page-section > #page-section-subtitle {
        animation-name: title-in;
        animation-duration: 1000ms;
    }
    #page-section > #page-section-title {
        animation-name: title-in;
        animation-duration: 2000ms;
    }

    #page-section > #page-section-title > .bg {
        content: "";
        @apply absolute inset-0 w-full h-full -z-[1];
        animation-name: title-bg-in;
        animation-delay: 500m;
        animation-duration: 1000ms;
    }

    @keyframes title-in {
        from {
            transform: translateY(-100px);
        }
        to {
            transform: translateY(0px);
        }
    }
    @keyframes title-bg-in {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0px);
        }
    }

    ul.recommanded-cards {
        @apply hidden md:flex flex-wrap justify-center gap-8;
    }
    ul.recommanded-cards > li {
        @apply w-52 h-44 border rounded-[28px] relative surface;
    }
</style>
