---
import { ViewTransitions } from "astro:transitions";
import Footer from "../core/footer/footer.astro";
import BaseHead from "../core/head/base-head.astro";
import HeaderDrop from "../core/header/header-drop.astro";
import HeaderTitle from "../core/header/header-title.astro";
import Header from "../core/header/header.astro";
import BottomAppBar from "../core/navigation/bottom-app-bar.astro";
import NavigationRail from "../core/navigation/navigation-rail.astro";
import HctPicker from "../core/theme-provider/HctPicker.vue";
import SwitchThemeIconButton from "../core/theme-provider/switch-theme-icon-button.astro";
import ThemeProvider from "../core/theme-provider/theme-provider.astro";
import ProductHtml from "../layouts/product-html.layout.astro";
import ProductPage from "../layouts/product-page.layout.astro";
---

<ProductHtml>
    <BaseHead slot="head" />
    <ViewTransitions slot="head" />
    <ThemeProvider>
        <ProductPage>
            <BottomAppBar slot="bottom-app-bar" />
            <NavigationRail slot="navigation-rail" />
            <div class="sticky-header">
                <Header>
                    <HeaderTitle />
                    <SwitchThemeIconButton slot="actions" />
                    <HctPicker client:only="vue" slot="actions" />
                </Header>
                <HeaderDrop />
            </div>

            <div class="page-content">
                <div class="hero">
                    <h1 class="hero-title text-display-large">
                        Bre97-web's blog
                    </h1>
                    <div class="hero-background">
                        <img
                            class="hero-img"
                            aria-hidden="true"
                            loading="eager"
                            fetchpriority="high"
                            src="https://www.gstatic.com/images/icons/material/apps/fonts/1x/catalog/v5/heroes/noto-bg-light.jpg"
                            srcset="https://www.gstatic.com/images/icons/material/apps/fonts/1x/catalog/v5/heroes/noto-bg-light.jpg=w1860 1x, https://www.gstatic.com/images/icons/material/apps/fonts/1x/catalog/v5/heroes/noto-bg-light.jpg=w3720 2x"
                        />
                    </div>
                </div>

                <div class="standalone-card">
                    <h1 class="title text-headline-medium">Follow me</h1>
                    <div class="about-me-links">
                        <!-- Github -->
                        <div class="card">
                            <h1 class="title text-title-medium">
                                GitHub Profile
                            </h1>
                            <p class="description text-body-medium">
                                Includes all my coding activities.
                            </p>
                            <md-outlined-icon-button
                                href="https://github.com/bre97-web"
                                target="blank"
                                class="side-icon"
                            >
                                <md-icon>open_in_new</md-icon>
                            </md-outlined-icon-button>
                            <svg
                                class="logo"
                                width="40"
                                height="40"
                                viewBox="0 0 24 24"
                                aria-label="Github icon"
                                aria-hidden="true"
                            >
                                <path
                                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2.218 18.616c-.354.069-.468-.149-.468-.336v-1.921c0-.653-.229-1.079-.481-1.296 1.56-.173 3.198-.765 3.198-3.454 0-.765-.273-1.389-.721-1.879.072-.177.312-.889-.069-1.853 0 0-.587-.188-1.923.717-.561-.154-1.159-.231-1.754-.234-.595.003-1.193.08-1.753.235-1.337-.905-1.925-.717-1.925-.717-.379.964-.14 1.676-.067 1.852-.448.49-.722 1.114-.722 1.879 0 2.682 1.634 3.282 3.189 3.459-.2.175-.381.483-.444.936-.4.179-1.413.488-2.037-.582 0 0-.37-.672-1.073-.722 0 0-.683-.009-.048.426 0 0 .46.215.777 1.024 0 0 .405 1.25 2.353.826v1.303c0 .185-.113.402-.462.337-2.782-.925-4.788-3.549-4.788-6.641 0-3.867 3.135-7 7-7s7 3.133 7 7c0 3.091-2.003 5.715-4.782 6.641z"
                                ></path>
                            </svg>
                        </div>

                        <!-- Facebook -->
                        <div class="card">
                            <h1 class="title text-title-medium">
                                Facebook Profile
                            </h1>
                            <p class="description text-body-medium">
                                Rarely used.
                            </p>
                            <md-outlined-icon-button
                                href="https://www.facebook.com/profile.php?id=100079648962937&mibextid=ZbWKwL"
                                target="blank"
                                class="side-icon"
                            >
                                <md-icon>open_in_new</md-icon>
                            </md-outlined-icon-button>
                            <svg
                                class="logo"
                                width="40"
                                height="40"
                                viewBox="0 0 24 24"
                                aria-label="Facebook icon"
                                aria-hidden="true"
                            >
                                <path
                                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"
                                ></path>
                            </svg>
                        </div>

                        <!-- Twitter / X -->
                        <div class="card">
                            <h1 class="title text-title-medium">
                                Twitter Profile
                            </h1>
                            <p class="description text-body-medium">
                                Daily use.
                            </p>
                            <md-outlined-icon-button
                                href="https://x.com/bre97_community"
                                target="blank"
                                class="side-icon"
                            >
                                <md-icon>open_in_new</md-icon>
                            </md-outlined-icon-button>
                            <svg
                                class="logo"
                                width="40"
                                height="40"
                                viewBox="0 0 24 24"
                                aria-label="Twitter icon"
                                aria-hidden="true"
                            >
                                <path
                                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z"
                                ></path>
                            </svg>
                        </div>
                    </div>
                </div>

                <!-- <div class="standalone-card">
                    <h1 class="title text-headline-medium">Subscribe RSS</h1>
                </div> -->
                <Footer />
            </div>
        </ProductPage>
    </ThemeProvider>
</ProductHtml>

<style>
    .sticky-header {
        --navigation-rail-width-computed: 84px;

        position: sticky;
        top: 0;
        background-color: var(--md-sys-color-surface);
        z-index: 1;
        --header-padding-left: 24px;
        --header-padding-right: 24px;
        @media (min-width: 840px) {
            --header-padding-left: 60px;
            --header-padding-right: 60px;
        }
        @media (min-width: 1600px) {
            --header-width: calc(
                1600px - var(--navigation-rail-width-computed)
            );
        }
    }
    .page-content {
        --navigation-rail-width-computed: 84px;

        padding: 24px;
        @media (min-width: 840px) {
            padding-left: 60px;
            padding-right: 60px;
        }
        @media (min-width: 1600px) {
            max-width: calc(1600px - var(--navigation-rail-width-computed));
        }
        @media (min-width: 1600px) {
            margin: auto;
        }

        & > :not([hidden]) ~ :not([hidden]) {
            --space-y-reverse: 0;
            margin-top: calc(32px * calc(1 - var(--space-y-reverse)));
            margin-bottom: calc(32px * var(--space-y-reverse));
        }
    }
    .hero {
        height: 240px;
        background-color: var(--md-sys-color-primary-container);
        padding: 28px;
        border-radius: 28px;
        position: relative;
        overflow: hidden;
        z-index: 0;

        & > .hero-title {
            color: var(--md-sys-color-on-primary-fixed);
            z-index: 1;
        }
        & > .hero-background {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: -1;
            box-align: center;
            height: 100%;
            width: 100%;

            & > .hero-img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .standalone-card {
        border-radius: 28px;
        background-color: var(--md-sys-color-surface-container);
        padding: 16px;

        & > .title {
            margin-bottom: 16px;
            color: var(--md-sys-color-on-surface);
        }
    }

    /* Three cards in one grid */
    .about-me-links {
        --card-height: 100%;
        --card-width: 100%;

        display: grid;
        gap: 16px;
        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
        @media (min-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }

        & > .card {
            width: var(--card-width);
            height: var(--card-height);
            border-radius: 24px;
            background-color: var(--md-sys-color-surface-container-lowest);
            padding: 16px 16px;
            position: relative;

            display: grid;
            grid-template-columns: 48px 1fr 48px;
            grid-template-rows: 24px 24px;
            column-gap: 12px;

            & > :is(.title, .description) {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
            & > .title {
                color: var(--md-sys-color-on-surface);
                grid-column: 2/3;
                grid-row: 1/2;
            }
            & > .description {
                color: var(--md-sys-color-on-surface-variant);
                grid-column: 2/3;
                grid-row: 2/3;
            }
            & > .side-icon {
                grid-column: 3/4;
                grid-row: 1/3;
                align-self: center;
                justify-self: center;
            }
            & > .logo {
                grid-column: 1/2;
                grid-row: 1/3;
                align-self: center;
                justify-self: center;
                fill: var(--md-sys-color-on-surface);
            }
        }
    }
</style>
