---
import DarkButton from "./theme-changer/DarkButton.astro";
import HctPicker from "./theme-changer/HctPicker.vue";

interface Props {
    title?: string;
}

const { title = `Bre97's Blogs` } = Astro.props;
---

<header class="header">
    <div class="flex items-center">
        <slot name="start" />
        <h1 class="md-typescale-title-medium on-surface pl-2">{title}</h1>
    </div>
    <div class="actions">
        <DarkButton />
        <HctPicker client:idle />
    </div>
</header>

<style>
    .header {
        @apply h-[56px] flex items-center justify-between px-4 flex-grow-0 flex-shrink-0 surface-container-highest;
    }
    .actions {
        @apply flex gap-0.5;
    }
</style>

<script></script>
